<div class="bgHolder"></div>
<div id="auth-wrapper">
    <div id="auth-container">
        <h2>Regisztráció</h2>
        <div class="form-group">
            <mat-form-field>
                <mat-label for="email">E-mail:</mat-label>
                <input type="email" matInput id="email" name="email" [(ngModel)]="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó:</mat-label>
                <input type="password" matInput id="password" name="password" [(ngModel)]="password" required>
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="confirmPassword">Jelszó újra:</mat-label>
                <input type="password" matInput id="confirmPassword" name="confirmPassword"
                    [(ngModel)]="confirmPassword" required>
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="register()">Alkotás!</button>
        </div>
    </div>
</div>