#admin-cards-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  overflow-y: auto;
  color: white;
}

.center-aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 20px 0;
  font-size: large;
}

input {
  min-height: 20px;
}

button {
  margin: 5px;
}

// button
.action-button {
  height: 30px;
  width: 30px;
  margin: 2px;
}

span {
  width: 30px;
}

#delete-all-button {
  background-color: rgba(255, 5, 5, 0.5);
  width: 200px;
  min-height: 40px;
}

#file-button {
  min-width: 90px;
  min-height: 40px;
  text-align: center;
}

// table
table {
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

table th {
  text-align: center;
}

table tr th,
td {
  padding: 10px;
  max-width: 200px;
  overflow-x: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
