<div class="bgHolder"></div>
<div id="login-wrapper">
    <div id="login-container">
        <h2>Bejelentkezés</h2>
        <!-- <form class="form-group" action="login" method="POST"> -->
        <div class="form-group">
            <mat-form-field>
                <mat-label for="email">E-mail:</mat-label>
                <input type="email" matInput id="email" name="email" [(ngModel)]="email" required>
                <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó:</mat-label>
                <input type="password" matInput id="password" name="password" [(ngModel)]="password" required>
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="login()">Alkotás!</button>
        </div>
    </div>
</div>