*{
    background-color: #333; /* Háttérszín */
}

#navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    // margin-right: 15px;
    margin-inline: 7px;
}

.menu li a {
    text-decoration: none;
    font-weight: bold; 
    color: white;
    cursor: pointer;
}

.menu li a:hover {
    color: #9ec9ff;
}

img {
    width: 60px;
}


// Responsiveness

@media screen and (max-width: 1150px) {
    #menu li:nth-child(n+7) {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    #menu li:nth-child(n+6) {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    #menu li:nth-child(n+5) {
        display: none;
    }
}

@media screen and (max-width: 440px) {
    #menu li:nth-child(n+4) {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    #menu li:nth-child(n+3) {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    #menu li:nth-child(n+2) {
        display: none;
    }
}