<div id="navbar-container">
    <a href="https://dreamsofpurgatory.hu/"> <!-- Ez a hivatkozás az új oldalra mutat -->
        <img src="/assets/pics/additional/logo.png" alt="">
    </a>
    <!-- <ul id="menu" class="menu">
        <li><a href="https://dreamsofpurgatory.hu/">KEZDŐLAP</a></li>
        <li><a href="https://dreamsofpurgatory.hu/szabalyok/jatekszabalyzat/">Szabályok</a></li>
        <li><a href="https://dreamsofpurgatory.hu/laplista/">Laplista</a></li>
        <li><a href="https://dreamsofpurgatory.hu/category/cikkek/">Cikkek</a></li>
        <li><a href="https://dreamsofpurgatory.hu/altalanos-szerzodesi-feltetelek/">Általános Szerződési Feltételek</a>
        </li>
        <li><a href="https://dreamsofpurgatory.hu/privacy-policy/">Adatvédelmi Szabályzat</a></li>
        <li><a href="https://dreamsofpurgatory.hu/barion-altalanos-szerzodesi-feltetelek/">BARION – Általános Szerződési
                Feltételek</a></li>
    </ul> -->
    <ul id="menu" class="menu">
        <!-- <li><a href="https://dreamsofpurgatory.hu/">DOP Főoldal</a></li> -->
        <li *ngIf="isGuest()"><a routerLink="/login" routerLinkActive="true">Bejelentkezés</a></li>
        <!-- <li *ngIf="isGuest()"><a routerLink="/register" routerLinkActive="true">Regisztráció</a></li> -->
        <li *ngIf="isAuthenticated()"><a (click)="signOut()">Kijelentkezés</a></li>
        <li *ngIf="isAdmin()"><a routerLink="/admin-cards" routerLinkActive="true">Kártyakezelő</a></li>
        <!-- <li *ngIf="isAuthenticated()"><a routerLink="/decks" routerLinkActive="true">Deckjeim</a></li> -->
        <li *ngIf="isAuthenticated()"><a routerLink="/create" routerLinkActive="true">Alkotás</a></li>
    </ul>
</div>