<div id="navbar-container">
    <a href="https://dreamsofpurgatory.hu/"> <!-- Ez a hivatkozás az új oldalra mutat -->
        <img src="/assets/pics/additional/logo.png" alt="">
    </a>
    <!-- <ul id="menu" class="menu">
        <li><a href="https://dreamsofpurgatory.hu/">KEZDŐLAP</a></li>
        <li><a href="https://dreamsofpurgatory.hu/szabalyok/jatekszabalyzat/">Szabályok</a></li>
        <li><a href="https://dreamsofpurgatory.hu/laplista/">Laplista</a></li>
        <li><a href="https://dreamsofpurgatory.hu/category/cikkek/">Cikkek</a></li>
        <li><a href="https://dreamsofpurgatory.hu/altalanos-szerzodesi-feltetelek/">Általános Szerződési Feltételek</a>
        </li>
        <li><a href="https://dreamsofpurgatory.hu/privacy-policy/">Adatvédelmi Szabályzat</a></li>
        <li><a href="https://dreamsofpurgatory.hu/barion-altalanos-szerzodesi-feltetelek/">BARION – Általános Szerződési
                Feltételek</a></li>
    </ul> -->
    <ul id="menu" class="menu">
        <li><a href="https://dreamsofpurgatory.hu/">DOP Főoldal</a></li>
        <li><a href="/login">Bejelentkezés</a></li>
        <li><a href="/register">Regisztráció</a></li>
        <li><a href="/decks">Deckjeim</a></li>
        <li><a href="/">Alkotás</a></li>
    </ul>
</div>