<div id="deck-container">
    <div id="search-filter-container">
        <input type="text" id="search-field" (change)="updateAvailableCards()" placeholder="Search card...">
        <button id="filter-button" (click)="toggleFilters()">Filters</button>
    </div>

    <div id="deck-list-container">




        <!-- Filters -->
        <div id="filters-container" [class]="filtersContainerClass">
            <!-- TYPE -->
            <div>
                <h4>TYPE</h4>
                <button>CHAMPION</button>
                <button>SPELL</button>
                <button>FOLLOWER</button>
                <button>LANDMARK</button>
                <button>EQUIPMENT</button>
            </div>

            <!-- FORMAT -->
            <div>
                <h4>FORMAT</h4>
                <button>ETERNALS</button>
            </div>

            <!-- MANA -->
            <div>
                <h4>MANA</h4>
            </div>

            <div id="mana-list-container">
                <button>0</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8+</button>
            </div>
            <!-- RARITY -->
            <div>
                <h4>RARITY</h4>
                <button>COMMON</button>
                <button>RARE</button>
                <button>EPIC</button>
            </div>

            <!-- SET -->
            <div>
                <h4>SET</h4>
                <button>FOUNDATIONS</button>
                <button>RISING TIDES</button>
                <button>CALL OF THE MOUNTAIN</button>
            </div>
        </div>






        <div id="deck-name-container">
            <input type="text" id="deck-name-field" placeholder="Deck name...">
        </div>

        <div id="copy-deck-container">
            <button id="copy-deck-button">Copy Deck Code</button>
        </div>

        <div id="deck-info-container">
            <div id="card-count">0/30 Cards</div>
            <div class="class-indicator-holder">
                <div class="class-indicator">A: 0</div>
                <div class="class-indicator">B: 0</div>
                <div class="class-indicator">C: 0</div>
                <div class="class-indicator">D: 0</div>
                <div class="class-indicator">E: 0</div>
            </div>
        </div>
        <div id="card-list-container">
            <img src="/assets/pics/additional/logo.png" alt="">
            <img src="/assets/pics/additional/logo.png" alt="">
            <img src="/assets/pics/additional/logo.png" alt="">
            <img src="/assets/pics/additional/logo.png" alt="">
        </div>
        <div id="import-deck-container">
            <input type="text" id="import-deck-field" placeholder="Import deck code...">
            <button id="import-deck-button">Import Deck</button>
        </div>
    </div>
</div>