<div id="deck-container">
    <div id="search-filter-container">
        <mat-form-field>
            <mat-label for="search-field">Card name:</mat-label>
            <input type="text" matInput id="search-field" [(ngModel)]="inputValue" (input)="updateAvailableCards()"
                placeholder="Doppelganger">
        </mat-form-field>
        <button mat-flat-button id="filter-button" (click)="toggleFilters()">Filters</button>
    </div>

    <div id="deck-list-container">




        <!-- Filters -->
        <div id="filters-container" [class]="filtersContainerClass">
            <!-- TYPE -->
            <h4>TYPE</h4>
            <mat-chip-listbox>
                <mat-chip-option>CHAMPION</mat-chip-option>
                <mat-chip-option>SPELL</mat-chip-option>
                <mat-chip-option>FOLLOWER</mat-chip-option>
                <mat-chip-option>LANDMARK</mat-chip-option>
                <mat-chip-option>EQUIPMENT</mat-chip-option>
            </mat-chip-listbox>

            <!-- FORMAT -->
            <!-- <div>
                <h4>FORMAT</h4>
                <button>ETERNALS</button>
            </div> -->

            <!-- MANA -->
            <div>
                <h4>MANA</h4>
            </div>

            <div id="mana-list-container">
                <mat-chip-listbox>
                    <mat-chip-option>0</mat-chip-option>
                    <mat-chip-option>1</mat-chip-option>
                    <mat-chip-option>2</mat-chip-option>
                    <mat-chip-option>3</mat-chip-option>
                    <mat-chip-option>4</mat-chip-option>
                    <mat-chip-option>5</mat-chip-option>
                    <mat-chip-option>6</mat-chip-option>
                    <mat-chip-option>7</mat-chip-option>
                    <mat-chip-option>8+</mat-chip-option>
                </mat-chip-listbox>
            </div>
            <!-- RARITY -->
            <div>
                <h4>RARITY</h4>
                <mat-chip-listbox>
                    <mat-chip-option>COMMON</mat-chip-option>
                    <mat-chip-option>RARE</mat-chip-option>
                    <mat-chip-option>EPIC</mat-chip-option>
                </mat-chip-listbox>
            </div>

            <!-- SET -->
            <div>
                <h4>SET</h4>
                <mat-chip-listbox>
                    <mat-chip-option>FOUNDATIONS</mat-chip-option>
                    <mat-chip-option>RISING TIDES</mat-chip-option>
                    <mat-chip-option>CALL OF THE MOUNTAIN</mat-chip-option>
                </mat-chip-listbox>
            </div>
        </div>






        <div id="deck-name-container">
            <mat-form-field>
                <mat-label for="deck-name-field">Deck Name:</mat-label>
                <input matInput type="text" id="deck-name-field" placeholder="Deck 1">
            </mat-form-field>
        </div>

        <div id="copy-deck-container">
            <button mat-flat-button id="copy-deck-button">Copy Deck Code</button>
        </div>

        <div id="deck-info-container">
            <div id="card-count">0/30 Cards</div>
            <!-- <div class="class-indicator-holder">
                <div class="class-indicator">A: 0</div>
                <div class="class-indicator">B: 0</div>
                <div class="class-indicator">C: 0</div>
                <div class="class-indicator">D: 0</div>
                <div class="class-indicator">E: 0</div>
            </div> -->
        </div>
        <div id="card-list-container">
            <img src="/assets/pics/additional/logo.png" alt="">
            <img src="/assets/pics/additional/logo.png" alt="">
            <img src="/assets/pics/additional/logo.png" alt="">
            <img src="/assets/pics/additional/logo.png" alt="">
        </div>
        <div id="import-deck-container">
            <mat-form-field>
                <mat-label for="import-deck-field">Deck code:</mat-label>
                <input matInput type="text" id="import-deck-field" placeholder="Import deck code...">
            </mat-form-field>
            <button mat-flat-button id="import-deck-button" name="import-deck-button">Import Deck</button>
        </div>
    </div>
</div>