* {
    color: white;
    // padding: 4px;
}

#deck-container {    
    position: relative;
    width: 350px;
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-radius: 10px;
    
    // height: calc(100dvh - 90px);
    padding: 10px;
}

// #search-filter-container {
//     z-index: 1;
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//     margin-bottom: 10px;
// }

// #copy-deck-button {
//     z-index: ;
// }

mat-label {
    color: gray;
}

#deck-info-container {
    display: flex;
}

#card-count {
    display: flex;
    align-items: center;
}

.class-indicator-holder {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}

#card-list-container {
    // height: 400px;
    height: calc(100dvh - 420px);
    overflow-y: auto;

    img {
        height: 30px;
        width: 94%;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px) {
    * {
        display: none;
    }
}

.removeAllButton{
    margin-left: 10px;
    height: 80%;
}

// Slide in animation

#filters-container {
    position: absolute;
    // width: 150px;
    top: 78px;
    left: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.9);
    border: 1px white solid;
    border-radius: 10px;
    padding: 10px;
    z-index: 2;
}

/* Define Angular animation */
.triggerable {
    position: relative;
}

.visible {
    animation: slideIn 0.2s ease-out;
    display: block;
}

.hidden {
    animation: slideOut 0.2s ease-out;
    animation-fill-mode: forwards;
    
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
        display: block;
    }

    to {
        opacity: 0;
        transform: translateY(-10%);
        display: none;
    }
}

#mana-list-container {
    display: flex;
    padding-top: 0;
}

// .custom-icon-button {
//     color: black;
//     /* Change color to black */
// }

// #clear-deck-button {
//     margin-left: 10px;
// }