.popup {
    position: fixed;
    // display: flex;
    // flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
}

input {
    height: 20px;
    padding: 3px;
    margin: 3px;
    border-radius: 5px;
}

button{
    height: 40px;
    margin: 3px;
}