*{
    padding: 2px 0;
}

img{
    max-width: calc(var(--card-width) * 1px);
    display: block;
    border-radius: 4px;
    // border: 1px black solid;
    // box-shadow: 2px 1px 1px rgba($color: black, $alpha: 0.3);
    transition: all 0.2s;
}

img:hover{
    transform: scale(calc(1 - (var(--card-width) - 620) / 950));
}