<div class="bgHolder"></div>
<div id="admin-cards-wrapper">
    <div class="center-aligned">
    <h2>Kártyák kezelése</h2>
    <!-- <h3>Feltöltés</h3> -->
    <!-- <input type="file" accept=".csv" (change)="onFileSelected($event)"> -->

    <button type="button" id="file-button" mat-flat-button color="primary" (click)="fileInput.click()">Feltöltés</button>
    <input hidden (change)="onFileSelected($event)" #fileInput accept=".csv" type="file" id="file">
    </div>
    
    <table>
        <tr>
            <th>Szín</th>
            <th>Laptípus</th>
            <th>Altípus</th>
            <th>Név</th>
            <th>Mana-költség</th>
            <th class="tamado-vedo">Támadó-védő</th>
            <th class="kepesseg">Képesség</th>
            <th class="manaplusz">Mana+</th>
            <th class="laphuzoplusz">Laphúzó+</th>
            <th class="spirit">Spririt</th>
            <!-- <th class="megjelenes">Megjelenés</th> -->
            <th>Sorszám</th>
            <th>Módosítás</th>
        </tr>
        <ng-container *ngFor="let card of cards">
            <tr>
                <td>{{ card.data["szin"] !== "null" ? card.data["szin"] : '' }}</td>
                <td>{{ card.data["laptipus"] !== "null" ? card.data["laptipus"] : '' }}</td>
                <td>{{ card.data["altipus"] !== "null" ? card.data["altipus"] : '' }}</td>
                <td>{{ card.data["nev"] !== "null" ? card.data["nev"] : '' }}</td>
                <td>{{ card.data["mana-koltseg"] !== "null" ? card.data["mana-koltseg"] : '' }}</td>
                <td class="tamado-vedo">{{ card.data["tamado-vedo"] !== "null" ? card.data["tamado-vedo"] : '' }}
                </td>
                <td class="kepesseg">{{ card.data["kepesseg"] !== "null" ? card.data["kepesseg"] : '' }}</td>
                <td class="manaplusz">{{ card.data["mana+"] !== "null" ? card.data["mana+"] : '' }}</td>
                <td class="laphuzoplusz">{{ card.data["laphuzo+"] !== "null" ? card.data["laphuzo+"] : '' }}</td>
                <td class="spirit">{{ card.data["spirit"] !== "null" ? card.data["spirit"] : '' }}</td>
                <!-- <td class="megjelenes">{{ card.data["megjelenes"] !== "null" ? card.data["megjelenes"] : '' }}</td> -->
                <td>{{ card.data["sorszam"] !== "null" ? card.data["sorszam"] : '' }}</td>
                <td><button (click)="openEditPopup(card)" mat-flat-button color="primary"> <mat-icon
                            matSuffix>edit</mat-icon></button>
                    <button mat-flat-button color="warn" (click)="openDeletePopup(card)"><mat-icon
                            matSuffix>delete</mat-icon></button>
                </td>
            </tr>
        </ng-container>
    </table>
    <button mat-flat-button color="warn" id="delete-all-button" (click)="openDeleteAllPopup(cards)">Összes törlése<mat-icon
        matSuffix>delete_forever</mat-icon></button>
</div>

<!-- <mat-spinner id="mat-spinner" [style.display]="spinnerRef.isOpen() ? 'block' : 'none'"></mat-spinner> -->
<!-- <mat-spinner id="mat-spinner" style="display: none;"></mat-spinner> -->
<!-- 
<div id="#spinnerContainer"></div> -->