#card-holder-container{
    margin-top: 0;
    // position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    min-width: calc(100vw - 445px);  
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    // margin-right: 10px;
    // border: 1px white solid;
    // border-radius: 10px;
    // box-shadow: 2px 2px 2px black solid;
    
}

.card-container{
    margin-top: 20px;
    width: min-content;  
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
}



@media screen and (max-width: 1100px) {
    
    #card-holder-container{
        // margin-top: 80px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 752px) {
    
    #card-holder-container{
        // margin-top: 130px;
        margin-top: 100px;
    }
}


@media screen and (max-width: 640px) {
    
    #card-holder-container{
        margin-top: 150px;
    }
}


#cards-navbar-container {
    position: sticky;
    top: 0;
    height: 55px;
    width: 97%;
    display: flex;
    justify-content: center;
    z-index: 0;
    background-color: rgba($color: #111, $alpha: 0.9);
    border-radius: 5px;
    padding: 2px;
}

.mat-chip-option {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px 9px;
    border: 1px white solid;
}

#multicolor {
    background-color: #c87bfc; /* rózsaszín */
}

#sarga {
    background-color: #FFFF00; /* sárga */
}

#piros {
    background-color: #FF0000; /* piros */
}

#magenta {
    background-color: #FF00FF; /* rózsaszín */
}

#zold {
    background-color: #008000; /* zöld */
}

#feher {
    background-color: #FFFFFF; /* fehér */
}

#fekete {
    background-color: #000000; /* fekete */
}

#lila {
    background-color: #800080; /* lila */
}

#kek {
    background-color: #0000FF; /* kék */
}
