<nav id="cards-navbar-container">
    <ul>
        <li><button>1</button></li>
        <li><button>2</button></li>
        <li><button>3</button></li>
        <li><button>4</button></li>
        <li><button>5</button></li>
        <li><button>6</button></li>
        <li><button>7</button></li>
        <li><button>8</button></li>
        <li><button>9</button></li>
        <li><button>10</button></li>
        <li><button>11</button></li>
        <li><button>12</button></li>
    </ul>
</nav>

<div id="card-holder-container">
    <div class="card-container" *ngFor="let cardInstance of cardInstances">
        <!-- <h3>Name and mana</h3> -->
        <app-carddata-container [cardInstance]="cardInstance"></app-carddata-container>
        <!-- <button>Add to deck</button> -->
    </div>
</div>