#auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
    overflow-y: hidden;
}

#auth-container {
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#auth-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group button {
    width: 500px;
    height: 45px;
    font-size: 16px;
    margin: 5px 0;
}
